*
{
  padding: 0;
  margin: 0;
}
#div1
{
 border: 1px solid black;
  width: 600px;
  height: 720px;
  margin-top: 20px;
  margin-left: 300px;
  border-radius: 30px;
  background-color: rgb(19, 19, 20);
}
#display
{
  width: 85%;
  margin-top: 50px;
  margin-left: 45px;
  height: 90px;
  border-radius: 20px;
  font-size: 80px;
  font-style: Times new roman;
  color: rgb(8, 8, 49);
  background-color: rgb(247, 126, 27);
}
.buton
{
 height : 70px;
 width: 70px;
 margin-top: 30px;
 margin-left: 60px;
 font-size: 50px;
 border-radius: 10px;
 background-color: rgb(202, 94, 6);
}

